<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert List</title>
</head>

<body>
    <h1>Concert List</h1>
    <a href="/add-concert/">Add Concert</a>
       <a href="/delete-concert">Delete all concerts</a> 
    <!-- TODO: show delete link for each concert -->

    <!-- TODO: Add list of concerts -->
    <div>
        <table style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Performer</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="concert : ${concerts}">
                    <td th:text="${concert.id}">1</td>
                    <td th:text="${concert.title}">Title</td>
                    <td th:text="${concert.performer}">Performer</td>
                    <td th:text="${#dates.format(concert.date, 'yyyy-MM-dd')}">Date</td>
                    <td th:text="${concert.description}">Description</td>
                    <td style="color: red;">
                        <a th:href="@{/delete-concert/{id}(id=${concert.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
     
    </div>
</body>

</html>